@charset "UTF-8";

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05px;
    color: #333333;

}

h2 {
    font-size: 22px;
    line-height: 1.8;
    letter-spacing: 0.05px;
    color: #333333;
}

p {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.6px;
    color: #333333;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: #fff;
}

header img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

header img:hover {
    opacity: 0.8;
}

.header-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-list a {
    color: #999999;
    font-size: 14px;
    transition: color 0.2s;
}

.header-list a:hover {
    color: #F9A23E;
}

.fixed-content {
    position: fixed;
    z-index: 999;
    display: flex;
    text-align: center;
    width: 35%;
    padding: 15px 10px;
    background-color: #f9a23e;
    border-radius: 40px;
    border: 1px solid #f9a23e;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    gap: 30px;
    letter-spacing: 5px;
    left: 50%;
    transform: translateX(-50%);
    pointer-event: all;
    bottom: 50px;
}

.fixed-content:hover {
    color: #f9a23e;
    background-color: #ffffff;
}


.fixed-content::after {
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    rotate: 45deg;
    transition: 0.2s;
}

.fixed-content:hover::after {
    border-top: 3px solid #f9a23e;
    border-right: 3px solid #f9a23e;
}



.top {
    width: 70%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.a-cp {
    padding-top: 160px;
    padding-bottom: 80px;
}

.a-cp h1 {
    margin-left: 80px;
    margin-bottom: 30px;
}

.a-cp img {
    width: 70%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.a-cp p {
    margin-left: 80px;
    color: #999999;
}

.cp {
    padding-top: 160px;
    padding-bottom: 80px;
}

.cp h1 {
    margin-left: 80px;
    margin-bottom: 30px;
}

.cp img {
    width: 70%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.cp p {
    margin-left: 80px;
    color: #999999;
}

.movie {
    padding: 80px;
}

.movie h1 {
    margin-bottom: 56px;
}

.movie p {
    margin-bottom: 30px;
    color: #999999;
}

.movie ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.media {
    padding: 80px;
}

.media h1 {
    margin-bottom: 56px;
}

.media ul li {
    margin-bottom: 30px;
}

.media ul .media-last {
    margin-bottom: 0;
    margin-top: 50px;
}

.media ul li h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.media ul li p {
    margin-bottom: 5px;
}

.media ul li a {
    color: #F9A23E;
}

.media ul .media-last a {
    color: #999999;
}

.worries {
    padding: 80px;
}

.worries .stage {

    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: visible;
}

/* 中央イラスト */
.worries .stage .center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    /* 中央の画像サイズ */
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* 吹き出し共通設定 */
.worries .stage .bubble {
    position: absolute;
    width: 160px;
    /* 吹き出し画像サイズ */
    height: auto;
    z-index: 1;
    transform-origin: center;
}

/* 左上 */
.worries .stage .bubble.tl {
    left: 0%;
    top: 20%;
    transform: rotate(-12deg);
    width: 300px;
}

/* 左下 */
.worries .stage .bubble.bl {
    left: -15%;
    bottom: 40%;
    transform: rotate(8deg);
    width: 400px;
}

/* 右上 */
.worries .stage .bubble.tr {
    right: -5%;
    top: 20%;
    transform: rotate(10deg);
    width: 300px;
}

/* 右中 */
.worries .stage .bubble.cr {
    right: -10%;
    top: 35%;
    transform: rotate(-6deg);
    width: 400px;
}

/* 右下 */
.worries .stage .bubble.br {
    right: -15%;
    bottom: 30%;
    transform: rotate(12deg);
    width: 400px;
}

.about {
    padding: 80px;
}

.about h1,
.about p {
    margin-bottom: 56px;
}

.about img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.balance {
    padding: 80px;
}

.balance h1,
.balance p {
    margin-bottom: 56px;
}

.balance img {
    display: block;
    margin: 0 auto;
    width: 800px;
}

.point {
    padding: 80px;
}

.point h1,
.point p {
    margin-bottom: 56px;
}

.point ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
}

.point ul li {
    flex: 1 1 200px;
    text-align: center;
}

.point ul li img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.point ul li h2 {
    margin-bottom: 10px;
}

.point ul li p {
    color: #666666;
}

.full {
    padding: 80px;
}

.full h1 {
    margin-bottom: 56px;
}

.full p {
    margin-bottom: 20px;
}

.full img {
    display: block;
    margin: 0 auto;
}

.skil {
    padding: 80px;
}

.skil h1 {
    margin-bottom: 56px;
}

.skil p {
    margin-bottom: 20px;
}

.skil img {
    display: block;
    margin: 0 auto;
}

.support {
    padding: 80px;
}

.support h1,
.support img {
    margin-bottom: 56px;
}

.support p {
    margin-bottom: 150px;
}

.support img {
    width: 100%;
}

.support ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support ul li {
    text-align: left;
    margin-bottom: 56px;
}

.support ul li h2 {
    margin-bottom: 20px;
}

.support ul li p {
    margin-bottom: 10px;
}

.support ul li img {
    display: block;
    margin: 0 auto 8px;
}

.support-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: start;
    max-width: 1029px;
}

.support-list .support-list-1 {
    grid-column: 1;
    grid-row: 1;
}

.support-list .support-list-2 {
    grid-column: 2;
    grid-row: 1;
}

.support-list .support-list-3 {
    grid-column: 1;
    grid-row: 2 / 5;
    align-self: stretch;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.support-list .support-list-4 {
    grid-column: 2;
    grid-row: 2;
}

.support-list .support-list-5 {
    grid-column: 2;
    grid-row: 3;
}

.support-list .support-list-6 {
    grid-column: 2;
    grid-row: 4;
}

.support ul .support-last {
    margin-bottom: 0;
}

.reviews {
    padding: 80px;
}

.reviews h1,
.reviews p {
    margin-bottom: 56px;
}

.reviews .reviews-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 80px;
}

.reviews .reviews-list .reviews-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews .reviews-list .reviews-right img {
    display: block;
}

.reviews .reviews-list img {
    width: 550px;
}

.mama-reviews {
    padding: 80px;
}

.mama-reviews h1 {
    margin-bottom: 56px;
}

.mama-reviews .mama-reviews-list {
    display: flex;
    gap: 20px;
    margin: 0 80px;
}

.mama-reviews a {
    color: #F9A23E;
    display: flex;
    justify-content: center;
    margin-top: 56px;
    letter-spacing: 2px;
}

.study {
    padding: 80px;
}

.study h1,
.study p {
    margin-bottom: 56px;
}

.study ul li p {
    margin-left: 128px;
}

.study ul li .study-first {
    margin-left: 0;
}

.study ul li .line {
    position: relative;
    width: 80%;
    height: 2px;
    background: #000;
    margin: 40px auto;
}

/* ▼の部分（三角） */
.study ul li .line::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    /* 三角の位置（線の下） */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
}

.study ul li:first-child .line,
.study ul li:last-child .line {
    display: none;
}

.study-last {
    color: #999999;
    margin-bottom: 0;
}

.qs {
    padding-top: 80px;
    padding-bottom: 80px;
}

.qs h1 {
    margin-bottom: 56px;
    margin-left: 80px;
}

.qs p {
    margin-top: 56px;
    margin-left: 80px;
    color: #999999;
}

.qs .qs-list {
    width: 60%;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.do {
    padding: 80px;
}

.do h1 {
    margin-bottom: 56px;
}

.do ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
}

.do ul li {
    flex: 1 1 200px;
    text-align: center;
}

.do ul li img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.do ul li h2 {
    margin-bottom: 10px;
}

.do ul li p {
    color: #666666;
}

.date {
    padding: 80px;
}

.date h1 {
    margin-bottom: 56px;
}

.teacher {
    padding: 80px;
}

.teacher h1 {
    margin-bottom: 56px;
}

.teacher ul li {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-bottom: 56px;
}

.teacher ul .teacher-last {
    margin-bottom: 0;
}

.teacher ul li img {
    width: 150px;
    height: auto;
}

.teacher ul li .text {
    width: 850px;
}


.teacher ul li .text h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

.teacher ul li .text p {
    margin-bottom: 5px;
}

.teacher ul li .text .text-b {
    font-weight: bold;
}



.price {
    padding-top: 80px;
    padding-bottom: 80px;
}

.price h1 {
    margin-left: 80px;
}

.price img {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.vs {
    padding: 80px;
}

.vs h1,
.vs p {
    margin-bottom: 56px;
}

.vs img {
    width: 50%;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vs .vs-about {
    margin-bottom: 0;
    color: #999999;
}

.cis {
    padding: 80px;
}

.cis h1 {
    margin-bottom: 56px;
}

.cis img {
    display: block;
    margin: 0 auto;
}

.cis ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cis ul li .cis-date {
    font-weight: bold;
}

.cis ul li p {
    line-height: 2;
    letter-spacing: 1.5px;
}

.cis .cis-last {
    color: #999999;
}

.qa {
    padding: 80px;
}

.qa h1 {
    margin-bottom: 56px;
}

.qa h2 {
    margin-bottom: 5px;
}

.qa p {
    margin-bottom: 20px;
}

.qa .qa-last {
    margin-bottom: 0;
}

.plus {
    padding: 80px;
}

.plus h1 {
    margin-bottom: 56px;
}

.plus ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
}

.plus ul li {
    flex: 1 1 200px;
    text-align: center;
}

.plus ul li img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.plus ul li h2 {
    margin-bottom: 10px;
}

.puls ul li p {
    color: #666666;
}

.last-img img {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.last {
    padding-top: 100px;
    padding-bottom: 280px;
}

.last .last-list li a {
    color: #f9a23e;
}

.last .last-list {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    gap: 50px;
}

.last .last-list a:hover {
    color: #999999;
}